
* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    background-color: grey;
    height: 620px;
    width: 568px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

.main-container div {
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transition-property: left, top;
    transition-duration: 0.8s;
}

.lista-emoji:hover {
    background-color: rgb(151, 151, 151);
    border-radius: 5px;
}

.lista-emoji:focus {
    background-color: rgb(151, 151, 151);
    border-radius: 5px;
}

.lista-emoji:active {
    border: 1px solid white
}