
* {
    box-sizing: border-box;
}

@font-face {
    font-family: JustBubble;
    src: url("just_bubble/JustBubble.ttf") format("opentype");
}

h1 {
    font-family: JustBubble;
    color: rgb(233, 170, 54);
    font-size: 90px;
    margin-bottom: 20px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);;
}

body {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('images/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.otracaja {
    width: 566px;
}

.main-container {
    position:relative;
    border: 2px solid rgb(233, 170, 54);
    background-color: rgba(0, 0, 0, 0.788);
    height: 566px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

.lista-emoji {
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transition-property: left, top;
    transition-duration: 0.9s;
}

.lista-emoji:hover {
    background-color: rgb(151, 151, 151);
    border-radius: 5px;
}

.lista-emoji:focus {
    background-color: rgb(151, 151, 151);
    border-radius: 5px;
}

.lista-emoji:active {
    border: 1px solid white
}

.contenedor-puntaje, .record {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: rgb(0, 0, 0,0.788);
    border: 2px solid rgb(233, 170, 54);
    height: 100px;
    border-radius: 5px;
    color: white;

}

.puntaje {
    font-size: 30px;
    font-family: JustBubble;
    transition-property: font-size, color;
    transition-duration: 0.6s;
}

.contenedor-puntaje {
    position: relative;
    bottom: 540px;
    right: 350px;
}
.record {
    position: relative;
    bottom: 350px;
    right: 350px;
}

.timer {
    position: relative;
    bottom: 540px;
    right: 350px;
    border: 2px solid rgb(233, 170, 54);
    background-color: rgba(0, 0, 0, 0.788);
    width: 100px;
    text-align: center;
    border-radius: 5px;
    margin-top: 30px;
    color: white;
    padding: 20px;
    font-size: 20px;
}

