
* {
    box-sizing: border-box;
}

@font-face {
    font-family: JustBubble;
    src: url("just_bubble/JustBubble.ttf") format("opentype");
}

h1 {
    font-family: JustBubble;
    color: rgb(233, 170, 54);
    font-size: 90px;
    margin-bottom: 10px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);;
}

body {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('images/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.main-container {
    position:relative;
    background-color: rgba(11, 19, 12, 0.726);
    height: 566px;
    width: 566px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 3px groove white;
}

.main-container div {
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transition-property: left, top;
    transition-duration: 0.9s;

}

.lista-emoji:hover {
    background-color: rgb(151, 151, 151);
    border-radius: 5px;
}

.lista-emoji:focus {
    background-color: rgb(151, 151, 151);
    border-radius: 5px;
}

.lista-emoji:active {
    border: 1px solid white
}

.timer {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.788);
    width: 100px;
    text-align: center;
    border-radius: 5px;
    margin-top: 30px;
    color: white;
    padding: 20px;
    font-size: 20px;
}