//TIPOGRAFIAS
$tipografia-principal: JustBubble;

//COLORES Y BORDES
$color-principal: #e9aa36;
$bordes-tarjetas: 2px solid rgb(233, 170, 54);
$borde-redondeado: 5px;
$color-numeros: white;

//DISTANCIAS
$padding: 20px;
$margen-tarjetas: 10px 5px;

