@import "reset";
@import "variables";
@import "mixin";


@font-face {
    font-family: JustBubble;
    src: url("tipografias/just_bubble/JustBubble.ttf") format("opentype");
}

@font-face {
    font-family: myGame;
    src: url("tipografias/my_game/my\ game.ttf");
}

h1 {
    font-family: $tipografia-principal;
    color: $color-principal;
    font-size: 400%;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

body {
    @include flex-centrar();
    background-image: url('../images/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.contenedor-principal {
    display: flex;
    justify-content: center;
}

.contenedor-grilla {
    position: relative;
    @include formato-tarjetas();
    height: 566px;
    max-width: 566px;
    border-radius: 10px;
}

.lista-emoji {
    @include flex-centrar;
    min-height: 40px;
    min-width: 40px;
    font-size: 30px;
    transition-property: left, top;
    transition-duration: 0.7s;
}

.lista-emoji:hover {
    background-color: rgb(151, 151, 151);
    border-radius: 5px;
}

.lista-emoji:focus {
    background-color: rgb(151, 151, 151);
    border-radius: 5px;
}

.lista-emoji:active {
    border: 1px solid white
}

.contenedor-puntaje, .recordC {
    @include formato-tarjetas();
    @include flex-centrar();
    height: 120px;
}

.contenedor-puntajes {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.puntaje {
    font-size: 40px;
    font-family: $tipografia-principal;
    transition-property: font-size, color;
    transition-duration: 0.6s;
}

.recordC {
    font-family: $tipografia-secundaria;
}

#record {
    color: white;
    font-size: 40px;
    font-family: $tipografia-principal;
}

.timer {
    @include formato-tarjetas();
    @include flex-centrar($direccion: row);
    font-size: 30px;
    height: 100px;
}

.contenedor-modal-tiempo {
    @include contenedor-modales()
}

.modal {
    @include modales();
    @include flex-centrar($direccion: column, $content: space-around);
    position: relative;
    transition: transform 0.9s;
    transform: translateY(0);
}

.cerrar-modal {
    transform: translateY(-300%);
}


button {
    @include formato-tarjetas();
    font-family: $tipografia-secundaria;
    font-size: 30px;
    color: $color-principal;
    cursor: pointer;
}


.cerrar {
    color: $color-numeros;
    font-family: $tipografia-secundaria;
    font-size: 30px;
    cursor: pointer;
}

.ishidden {
    display: none;
}

@import "breakpoints"